<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Decathlon Points</title>
  </head>
  <body>
    <div class="greeting">
    <div id="greeting">
    <h1>Decathlon competition results</h1>
  </div>
</div>
    <div class="border-main">
        <div class="border">
        <form id="form" method="POST" action="" enctype="multipart/form-data">
          {{ form.hidden_tag() }} {{ form.chosen_file }} {{form.submit}}
          <span class="validation-error"
            >{{ ', '.join(form.chosen_file.errors) }}</span
          >
        </form>
      </div>
      </div>
    </div>
      <div class="flash-message"> 
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="message"><p>{{ message }} <br></p></div>
          {% endfor %} {% endif %} {% endwith %}
      </div>
  </body>
</html>
